.cause {
    background-image: linear-gradient(to right, #000000a9, #000000a9), url(../img/cause.jpg);
    min-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 45% bottom 50%;
    padding: 6% 0;
}
.cas{
    color: #727272;
}

.cause h1 {
    font-size: 60px;
    font-weight: 700;
    color: rgb(147, 144, 144);
    text-align: center;

}

.s-img {
    position: relative;
}

.cas-now {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.cas-now a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 400;
}

.cline {
    width: 100%;
    height: 3px;
    background: black;
}

.cline .cline-body {
    height: 100%;
    position: relative;
}
.b1{
    background: #2272B6;
    width: 45%;
}

.cline .cline-cont {
    position: absolute;
    font-size: 13px;
    font-weight: 400;
    right: 0px;
    bottom: -16px;
    
    color: white;
    padding: 7px 5px;
    border-radius: 50%;
}
.c1{
    background: #2272B6;
}

.cas-body h3 {
    font-size: 23px;
    font-size: 400;
    color: black;
}

.cas-body .p {
    font-size: 13px;
    font-size: 400;
    word-spacing: 15px;
}
.cas-body p {
    font-size: 15px;
    font-size: 400;
}

.cas-body .p span {
    font-weight: 500;
}
.cas-body a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
}
.a1{
    background: #2272B6;
}


.b2{
    background: #F24A29;
    width: 80%;
}
.c2, .a2{
    background: #F24A29;
}


.b3{
    background: #22B6AF;
    width: 50%;
}
.c3, .a3{
    background: #22B6AF;
}


.b4{
    width: 45%;
    background: #2272B6;
}


.b5{
    background: #F2A922;
    width: 50%;
}
.c5, .a5{
    background: #F2A922;
}


.b6{
    width: 55%;
    background: #F24A29;
}


@media (max-width:992px) {
    .mission h1 {
        font-size: 40px;

    }
}